{
    "plugins": [
      [
        "@babel/plugin-transform-react-jsx",
        {
          "pragma": "Mini.createElement",
          "pragmaFrag": "Mini.Fragment", // Add this line to handle fragments
          "throwIfNamespace": false
        }
      ]
    ]
  }
  