{
    "plugins": [
        [
            "@babel/plugin-transform-react-jsx",
            {
                "pragma": "mini.createElement", // default pragma is React.createElement
                "throwIfNamespace": false // defaults to true
            }
        ]
    ]
}
