/* src/pages/styles/Home.css */
.test {
  background-color: brown;
}

/* src/pages/styles/List.css */
.List {
  background-color: aqua;
}

/* src/pages/styles/User.css */
.user {
  background-color: green;
}
