@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";

/* src/pages/SayMyName.css */
h1 {
  color: rgb(49, 39, 25);
  text-align: center;
}

/* src/style.css */
* {
  font-family: "Roboto", sans-serif;
}
#app {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}
:root {
  --dark: hsl(234, 29%, 20%);
  --white: hsl(0, 0%, 100%);
  --dark-grey: hsl(235, 18%, 26%);
  --white-grey: hsl(231, 7%, 60%);
}
